.Page.navigation{
position: absolute;
top: 0px;
right: 2.3%;
}

.body_page {
    margin: 40px auto;
    /* position: absolute; */
    padding: 20px;
    width: 95%;
    height: fit-content;
    max-height: calc( 100% - 65px);
    box-shadow: 0px 5px 10px #c2c2c2;
    border-radius: 10px;
    background: white;
    text-align: center;
    overflow-y: scroll;
    & .itemTable {
      border-radius: 10px;
      border: 2px solid rgb(223, 221, 221);
      height: fit-content;
      width: 100%;
      & tr {
        line-height: 55px;
      }
    
  
      & tbody{
          & tr{
              
              border-bottom: 1px solid rgb(138, 138, 138);
            
            }
          & tr:nth-child(even) {
              background-color: #e8efff;
              box-shadow: 2px 2px 5px rgb(184, 184, 184);
            }
           
      }
      & .headerTable {
        box-shadow: 0 5px 10px rgb(184, 184, 184);
      }
      & .status {
        &.status-delivering {
            color: #c93838;
         
        }
      }
    }
  }
  